<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/editLoja.css" />
	</head>
	<body>
		<header>
			<figure>
				<img src="images/logo.svg" alt="Logo" />
				<h1>LocaCar</h1>
			</figure>
			<nav>
				<a href="/admloja">Loja</a>
				<a>Aluguéis</a>
				<a>Usuários</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Cadastrar novo Veículo</h2>
			<form action="" method="post">
				<fieldset>
					<legend>Formulário de Cadastrar</legend>
					<div class="input">
						<label for="nome">Nome</label>
						<input type="text" name="nome" id="nome" />
					</div>
					<div class="input">
						<label for="marca">Marca</label>
						<input type="text" name="marca" id="marca" />
					</div>
					<div class="input">
						<label for="cor">Cor</label>
						<input type="text" name="cor" id="cor" />
					</div>
					<div class="input">
						<label for="diaria">Diária</label>
						<input type="text" name="diaria" id="diaria" />
					</div>
					<button type="submit">Cadastrar Veículo</button>
				</fieldset>
			</form>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
