<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>

		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/admLoja.css" />
		<link rel="stylesheet" href="styles/admAlugueis.css" />
		<%- include("./favicon.ejs") %>
	</head>
	<body>
		<header>
			<a href="/admloja">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<nav>
				<a href="/admloja">Loja</a>
				<a href="/admAlugueis">Aluguéis</a>
				<a href="/admUsuarios">Usuários</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Solicitação de aluguel</h2>
			<main>
				<h3>Listagem geral de solicitações de aluguel</h3>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Veículo</th>
							<th>Data de início</th>
							<th>Data de término</th>
							<th>Valor do Aluguel</th>
							<th>Status</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Luiz Zairo Bastos Viana</td>
							<td>Fusca</td>
							<td>20/10/2019</td>
							<td>20/10/2019</td>
							<td>R$ 100,00</td>
							<td class="status-1">Aguardando</td>
							<td>
								<a href="" class="aceita">
									<i class="fa-solid fa-check"></i>
									Aceitar
								</a>
								<a href="" class="rejeita">
									<i class="fa-solid fa-times"></i>
									Rejeitar
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</main>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
