<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veículos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/meusAlugueis.css" />
		<%- include("./favicon.ejs") %>
	</head>
	<body>
		<header>
			<a href="/loja">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<nav>
				<a href="/loja">Loja</a>
				<a href="/meus-alugueis">Meus Aluguéis</a>
				<a href="/user-conta">Minha Conta</a>
				<a href="/" class="cadastrar"
					>Sair <i class="fa-solid fa-arrow-right-from-bracket"></i
				></a>
			</nav>
		</header>
		<section>
			<h2>Meus Aluguéis</h2>
			<main>
				<div class="aluguel">
					<figure>
						<img src="images/NUNS.png" alt="" />
					</figure>
					<div class="principal">
						<h1>FIAT - UNO</h1>
						<div class="dados">
							<ul>
								<li>
									R$ 78.89 -
									<span class="disponivel-<%= 0 %>"
										>Rejeitado</span
									>
								</li>
								<li>De 16/05/2022 até 18/05/2022</li>
							</ul>
							<details>
								<summary>Exibir mais</summary>
								<ul>
									<li>Cor: Prata</li>
									<li>Forma de Pagamento: PIX</li>
								</ul>
							</details>
						</div>
					</div>
				</div>
				<div class="aluguel">
					<figure>
						<img src="images/NUNS.png" alt="" />
					</figure>
					<div class="principal">
						<h1>FIAT - UNO</h1>
						<div class="dados">
							<ul>
								<li>
									R$ 78.89 -
									<span class="disponivel-<%= 1 %>"
										>Aguardando Confirmação</span
									>
								</li>
								<li>De 16/05/2022 até 18/05/2022</li>
							</ul>
							<details>
								<summary>Exibir mais</summary>
								<ul>
									<li>Cor: Prata</li>
									<li>Forma de Pagamento: PIX</li>
								</ul>
							</details>
						</div>
					</div>
				</div>
				<div class="aluguel">
					<figure>
						<img src="images/NUNS.png" alt="" />
					</figure>
					<div class="principal">
						<h1>FIAT - UNO</h1>
						<div class="dados">
							<ul>
								<li>
									R$ 78.89 -
									<span class="disponivel-<%= 2 %>"
										>Aceito</span
									>
								</li>
								<li>De 16/05/2022 até 18/05/2022</li>
							</ul>
							<details>
								<summary>Exibir mais</summary>
								<ul>
									<li>Cor: Prata</li>
									<li>Forma de Pagamento: PIX</li>
								</ul>
							</details>
						</div>
					</div>
				</div>
			</main>
		</section>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
		<!-- <script src="scripts/aluguel.js"></script> -->
	</body>
</html>
