<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veí­culos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/index.css" />
		<link rel="stylesheet" href="styles/editLoja.css" />
	</head>
	<body>
		<header>
			<a href="/">
				<figure>
					<img src="images/logo.svg" alt="Logo" />
					<h1>LocaCar</h1>
				</figure>
			</a>
			<nav>
				<a href="/singin">Entrar</a>
				<a href="/singup" class="cadastrar">Cadastrar</a>
			</nav>
		</header>
		<section>
			<% if(error){%>
			<h2>Email já Cadastrado</h2>
			<%}else{%>
			<h2>Recupere sua senha</h2>
			<%} %>
			<form action="/recoveryPasswd" method="post">
				<fieldset>
					<legend>Recuperação de Senha</legend>
					<h3>
						Para recuperar a sua senha, informe seu endereço de
						email que nós enviaremos um link para a alteração da
						senha.
					</h3>
					<div class="input">
						<label for="email">Email</label>
						<input
							type="email"
							id="email"
							name="email"
							placeholder="Email"
						/>
					</div>
					<button type="submit">Enviar</button>
				</fieldset>
			</form>
		</section>
		<script src="scripts/singin.js"></script>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
