<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veí­culos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/singin.css" />
	</head>
	<body>
		<section>
			<div class="login">
				<header>
					<a href="/">
						<figure>
							<img src="images/logo.svg" alt="Logo LocaCar" />
							<h1>LocaCar</h1>
						</figure>
					</a>
					<form action="" method="post">
						<div class="title">
							<h1>Bem-vindo à LocaCar</h1>
							<p>Faça o singin para acessar sua conta.</p>
						</div>
						<div class="input">
							<label for="email">E-mail</label>
							<input
								type="email"
								id="email"
								name="email"
								placeholder="@email.com"
								required
							/>
						</div>
						<div class="input">
							<label for="password">Senha</label>
							<div class="password">
								<input
									type="password"
									id="password"
									name="password"
									placeholder="senha"
									minlength="6"
									required
								/>
								<i
									class="fa-solid fa-eye"
									onclick="mostrarSenha()"
								></i>
							</div>
						</div>
						<span><a href="/recovery">Esqueceu a senha?</a></span>
						<button type="submit">Entrar</button>
						<h3>
							Ainda não tem uma conta?
							<a href="/singup">Criar Conta</a>
						</h3>
					</form>
				</header>
			</div>
			<figure class="carro-lateral">
				<img src="images/carroLoginCad.png" alt="Carro do Login" />
			</figure>
		</section>
		<script src="scripts/singin.js"></script>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
