<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>LocaCar - Locadora de Veí­culos</title>
		<link rel="stylesheet" href="styles/globalStyles.css" />
		<link rel="stylesheet" href="styles/singin.css" />
		<link rel="stylesheet" href="styles/singup.css" />
	</head>
	<body>
		<section>
			<div class="login">
				<header>
					<a href="/">
						<figure>
							<img src="images/logo.svg" alt="Logo LocaCar" />
							<h1>LocaCar</h1>
						</figure>
					</a>
					<form action="" method="post">
						<div class="title">
							<h1 class="cadastro">Cadastre-se na LocaCar</h1>
							<p>Faça o singup para acessar sua conta.</p>
						</div>
						<div class="etapas">
							<div class="etapa">
								<div class="nivel">
									<div class="valor">
										<h2 class="valor1">1</h2>
										<hr />
									</div>
								</div>
								<div class="nivel nivel2">
									<div class="valor">
										<h2>2</h2>
									</div>
								</div>
							</div>
							<div class="title">
								<h2>Dados Pessoais</h2>
								<h2>Dados de Acesso</h2>
							</div>
						</div>
						<div class="pessoais">
							<div class="input">
								<label for="name">Nome</label>
								<input
									type="text"
									name="name"
									id="name"
									placeholder="nome"
									required
								/>
							</div>

							<div class="input">
								<label for="nascimento">Nascimento</label>
								<input
									type="date"
									name="nascimento"
									id="nascimento"
									placeholder="nascimento"
									required
								/>
							</div>
							<div class="input">
								<label for="telefone">Telefone</label>
								<input
									type="tel"
									name="telefone"
									id="telefone"
									placeholder="(99) 99999-9999"
									maxlength="15"
									pattern="\(\d{2}\)\s*\d{5}-\d{4}"
									required
								/>
							</div>
							<div class="input">
								<label for="genero">Gênero</label>
								<div class="sexos">
									<input
										type="radio"
										name="genero"
										id="masculino"
										value="masculino"
									/>
									<label
										for="masculino"
										class="sexo"
										onclick="sexo()"
										>Masculino</label
									>
									<input
										type="radio"
										name="genero"
										id="feminino"
										value="feminino"
									/>
									<label
										for="feminino"
										class="sexo"
										onclick="sexo()"
										>Feminino</label
									>
								</div>
							</div>
							<div class="btn-a">
								<a onclick="proxima()">Avançar</a>
							</div>
						</div>
						<div class="confirmar">
							<div class="input">
								<label for="email">E-mail</label>
								<input
									type="email"
									id="email"
									name="email"
									placeholder="@email.com"
									required
								/>
							</div>
							<div class="input">
								<label for="password">Senha</label>
								<div class="password">
									<input
										type="password"
										id="password"
										name="password"
										placeholder="senha"
										minlength="6"
										required
									/>
									<i
										class="fa-solid fa-eye mostrar"
										onclick="mostrarSenha()"
									></i>
								</div>
							</div>
							<div class="input">
								<label for="password2">Confirmar senha</label>
								<div class="password">
									<input
										type="password"
										id="password2"
										name="password"
										placeholder="senha"
										minlength="6"
										required
									/>
									<i
										class="fa-solid fa-eye mostrar2"
										onclick="mostrarSenha2()"
									></i>
								</div>
							</div>
							<div class="finalizar">
								<a onclick="voltar()"
									><i class="fa-solid fa-angle-left"></i>
									Voltar</a
								>
								<a onclick="confirmarDados()" class="botao"
									>Cadastrar</a
								>
								<button
									type="submit"
									class="btnConfima"
								></button>
							</div>
						</div>
					</form>
				</header>
			</div>
			<figure class="carro-lateral">
				<img src="images/carroLoginCad.png" alt="Carro do Login" />
			</figure>
		</section>

		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="sweetalert2.all.min.js"></script>
		<script src="scripts/singup.js"></script>
		<script
			src="https://kit.fontawesome.com/09c2a18d79.js"
			crossorigin="anonymous"
		></script>
		<script></script>
	</body>
</html>
